<div id="<%= dom_id sudoku %>">
  <p>
    <strong>Board:</strong>
    <%= sudoku.board %>
  </p>

  <p>
    <strong>Initial board:</strong>
    <%= sudoku.initial_board %>
  </p>

  <p>
    <strong>Solved:</strong>
    <%= sudoku.solved %>
  </p>

</div>
