.color_rock_paper_sicissors-MainGameScreen{
  width: 700px;
  height: 700px;
  border-radius: 20px;
  background-color: darkgray;
  border: 2px solid #000000;
  margin-bottom: 10px;
}
.color_rock_paper_sicissors-BackTitleButton {
  width: 120px;
  height: 39px;
  padding: 5px;
  text-align: center;
  border: solid 2px #000;
  background-color: skyblue;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 700px;
}
.color_rock_paper_sicissors-GameStartButton {
  width: 300px;
  height: 90px;
  border-radius: 50px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: #87ceeb;
  text-align: center;
  font-size: 24px;
  line-height: 85px;
  margin-bottom: 10px;
  border: 2px solid black;
}
/*チュートリアルの画面のクラス*/
@keyframes fade{
  0%, 50%, 100% {
    opacity: 0;
  }
  10%, 40% {
    opacity: 1;
  }
}
/* テキストが右から左に移動するアニメーション */
@keyframes moveText {
  0% {
    right: -65px; /* 初期位置（右の範囲外） */
    margin-right:10%;
    opacity: 1;
  }
  50% {
    right: 0; /* 右から左に移動して停止 */
    margin-right:10%;
    opacity: 1;
  }
  80% {
    right: 0; /* 右から左に移動して停止 */
    margin-right:10%;
    opacity: 1;
  }
  100% {
    right: 0;
    margin-right:10%;
    opacity: 0; /* 徐々に消える */
  }
}
.color_rock_paper_sicissors-tutorial-movie-screen{
  position: fixed;
  width: 695px;
  height: 695px;
  border: 8px solid rgb(7, 197, 245);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(208, 208, 208);
  margin-bottom: 10px;
  z-index: 1001;
  color: rgb(28, 145, 199);
  font-family: "M PLUS 1", sans-serif;
}
.color_rock_paper_sicissors-tutorial-description-wrapper {
  position: fixed;
  width: 700px;
  height: 690px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1002;
}
.color_rock_paper_sicissors-tutorial-movie{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: none;
}
.color_rock_paper_sicissors-play-button{
  width: 60%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid rgb(241, 77, 77);
  border-radius: 10px;
  background-color: rgb(191, 191, 191);
  cursor: pointer;
}
.color_rock_paper_sicissors_play-tutorial-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: block;
  border-radius: 50%;

  /* ホバー時の影を変更 */
  transition: box-shadow 0.3s ease; /* ホバー時のトランジション */
}
.color_rock_paper_sicissors_play-tutorial-image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* ホバー時の影を強くする */
  transform: translateY(4px); /* 少し下に移動させる */
}
.color_rock_paper_sicissors-play-button:hover{
    /* ホバー時の影を小さくして凹んでいるように見せる */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    /* 小さな影 */ 0 2px 4px rgba(0, 0, 0, 0.2); /* 近くの影 */

  transform: translateY(4px); /* 少し下に移動させる */
}
.base-color_rock_paper_sicissors-titel{
  font-size: 90px;
  margin-bottom: 25px;
  z-index: inherit;
  color: rgba(69, 69, 69);
  letter-spacing: 10px;
  
}
.color_rock_paper_sicissors_color-win-titel{
  background: linear-gradient(0.55turn, #3f87a6, #ebf8e1, #113392);
  border-radius: 10px;
  border: 3px solid rgb(230, 99, 99);
  text-align: center;
  margin: 25px auto;
}
.color_rock_paper_sicissors_titel{
  background: linear-gradient(0.45turn, #dd6767, #ebf8e1, #cf3737);
  border-radius: 10px;
  border: 3px solid rgb(73, 194, 224);
  margin: 30px auto;
}
.base-explanatory-text{
  position: relative;
  width: 480px;
  height: 80px;
  overflow: hidden;
}
.explanatory-text{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  opacity: 0;
  font-size: 22px;
  animation: fade 4s ease-in-out infinite;
}
.explanatory-text-play-button{
  width: 45px;
  height: 45px;
}
.color_rock_paper_sicissors-explanatory-text1{
  animation-delay: 0s;
}
.color_rock_paper_sicissors-explanatory-text2{
  animation-delay: 2s;
}
/*チュートリアルの画面のクラスここまで*/

/*ゲームメインのクラス*/
/* 相手クラス*/
.item_user-interface{
  position: relative;
  width: 440px;
  height: 440px;
  padding: 60px;
  margin: 10px auto;
  border: 2px solid #000;
  border-radius:10px;
  background-color: aliceblue;
}

.item_user-interface img {
  max-width: 100%;
  height: auto; 
  display: block; 
}

/*制限時間のゲージ*/
.time-limit_gauge{
  position: absolute;
  border: 2px solid #333;
  background: repeating-linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0) 1px, rgb(39, 39, 39) 2px, white 10px);
  height: 380px;
  width: 28px;
  top: 20px;
  right: -80px;
  border-radius:10px;
  display: flex;
  align-items: flex-end;
}
.time-limit_gauge>div{
  width: 100%;
  background: #00fe44b7;
  border-radius:5px;
}

/*指示するテキスト*/
.instructions_text{
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
  font-weight: 1000;
  font-size: 23px;
  color: #0a0f0c;
  top: 40px;
  left: -80px;
}
/*スコアのテキスト*/
.color_rock_paper-score_text{
  position: absolute;
  writing-mode: horizontal-tb; /* 横書きに設定 */
  text-orientation: mixed;     /* 通常の文字方向 */
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
  font-weight: 1000;
  width: 100px;               /* 固定幅を設定 */
  font-size: 30px;
  text-align: center;         /* 中央揃えに変更 */
  top: 20px;
  left: 165px;
}
/*コンボに関するパーツ*/
.color_rock_paper-score_combo{
  position: absolute;
  width: 150px;
  height: 80px;
  top: 400px;
  right: 0;
  font-size: 30px;
  font-family: "Hiragino Sans","ヒラギノ角ゴシック";
}
.base-color_rock_paper_sicissors-combo-contents{
  width: 150px;
  height: 80px;
}
.color_rock_paper-score_combo_number{
  position: absolute;
  top: 400px;
  left: 0;
  font-size: 26px;
  font-style: italic;
  font-family: 'Bangers', cursive;
}
.color_rock_paper-score_combo_combo{
  position: absolute;
  top: 400px;
  left: 28px;
  font-size: 26px;
  font-style: italic;
  font-family:'Bangers', cursive;
}
.color_rock_paper-score_combo_add_number{
  position: absolute;
  display: inline-flex;
  top: 15px;
  right: 125px;
  font-size: 28px;
  height: 50px;
  width: 80px; /* 表示範囲の幅を設定 */
  overflow: hidden; /* 表示範囲外を隠す */
  font-style: italic;
  font-family: 'Bangers', cursive;
}
#moving-text {
  position: absolute;
  white-space: nowrap;
  right: -55px; /* 初期位置を範囲外に */
  opacity: 1;
  animation: moveText 0.5s ease forwards; /* 一度だけアニメーション */
}
/*「ゲームが始まる前に表示するメッセージ」の画像のサイズ*/
.game-start-button_image {
  position: absolute;
  top: 180px;
  left: 60px;
  width: 300px; /* 幅を300pxに設定 */
  height: auto; /* 高さを自動調整 */
}
/* 勝敗アイコンのスタイル */
.result-feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 300px;
  font-weight: bold;
  display: none;
  z-index: 10;
}

.result-feedback.win {
  color: red; /* 勝ちのときは赤色の○ */
}

.result-feedback.lose {
  color: red; /* 負けのときは赤色の× */
    font-size: 400px; /* バツを大きく */
    top: 45%; /* 少し上に配置 */
  }

@keyframes fadeInOut {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* アイコン切り替えアニメーションを適用するクラス */
.icon-transition {
  animation: fadeInOut 0.5s ease;
}
/* ゲーム画面のフラッシュエフェクト */
.flash-red {
  animation: flashRed 0.3s ease;
}

@keyframes flashRed {
  from { background-color: rgba(255, 0, 0, 0.5); }
  to { background-color: transparent; }
}
/*「おわり！」の画像のサイズ*/
.game-end-image {
  position: absolute;
  top: 150px;
  left: 60px;
  width: 300px; /* 幅を300pxに設定 */
  height: auto; /* 高さを自動調整 */
}
/*選択肢の親クラス*/
.color_rock_paper_choices_base{
  width: 700px;
  height: 250px;
  padding: 10px;
  display: flex;
  justify-content:space-around;
}

/*選択肢の枠*/
.color_rock_paper_frame{
  width:  190px;
  height: 190px;
  padding: 10px;
  margin: 10px;
  border-radius:10px;
  border: 2px solid #000;
  background-color: skyblue;
}

/*選択肢の画像サイズ*/
.color_rock_paper_choices{
  width:  160px;
  height: 160px;
  padding: 5px;
}

.color_rock_paper_frame:active{
  background: #add8e6;
  color: #FFF;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

button img {
  display: block;
}
/*ゲームメインのクラスここまで*/
/* --- アニメーション --- */

/* 虹色のテキストアニメーション */
@keyframes rainbowText {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}

/* カラフルな光るエフェクトのアニメーション */
@keyframes colorfulGlow {
  0% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6); /* 赤 */
  }
  25% {
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8), 0 0 20px rgba(0, 0, 255, 0.6); /* 青 */
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.8), 0 0 20px rgba(255, 255, 0, 0.6); /* 黄 */
  }
  75% {
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.6); /* 緑 */
  }
  100% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6); /* 赤に戻る */
  }
}

/* フィーバーモード時のテーブルスタイル */
.memory-square__table.fever-mode {
  animation: colorfulGlow 2s infinite alternate;
  border-radius: 10px; /* 角を少し丸くして見栄えを良くする */
}

/* フェードインアニメーション */
@keyframes fadeInSquare {
  0% {
    opacity: 0; /* 初期は透明 */
    transform: translateY(20px); /* 下から突き出る */
  }
  100% {
    opacity: 1; /* 完全に表示 */
    transform: translateY(0); /* 元の位置に戻る */
  }
}

@keyframes fadeOutSquare {
  0% {
    opacity: 1; /* 完全に表示 */
    transform: translateY(0); /* 元の位置 */
  }
  100% {
    opacity: 0; /* 完全に透明 */
    transform: translateY(20px); /* 下に移動して凹む */
  }
}

/* --- ゲーム全体のスタイル --- */
.memory-square__GameScreenBase {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #2d6ba1, #2c89cb 50%, #5aa4d8);
  font-family: "M PLUS 1", sans-serif;
}

.memory-square__BackTitleButton {
  width: 120px;
  height: 39px;
  padding: 5px;
  text-align: center;
  border: solid 2px #000;
  background-color: skyblue;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 700px;
}

.memory-square__game-screen {
  position: relative;
  width: 700px;
  height: 700px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(148, 148, 148);
  margin-bottom: 10px;
  font-family: "M PLUS 1", sans-serif;
}

.memory-square__game-screen.fever-background {
  background-color: rgb(66, 66, 66);
}

.memory-square__countdown-screen {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memory-square__countdown {
  font-size: 200px;
  text-align: center;
  color: white;
}

.memory-square__tutorial-movie-screen {
  position: fixed;
  width: 700px;
  height: 695px;
  border: 8px solid rgb(250, 187, 0);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(208, 208, 208);
  margin-bottom: 10px;
  z-index: 1001;
  color: orange;
  font-family: "M PLUS 1", sans-serif;
}

.memory-square__tutorial-description-wrapper {
  position: fixed;
  width: 700px;
  height: 690px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1002;
}

.memory-square__upper-tutorial-container {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memory-square__title-container {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  border: 8px solid rgb(0, 187, 65);
  border-radius: 10px;
}

.memory-square__number-container {
  width: 90px;
  height: 90px;
  color: white;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;
  font-weight: bold;
}

.memory-square__upper-number {
  width: 100%;
  height: 50%;
  display: flex;
}

.memory-square__upper-number :nth-child(1) {
  width: 50%;
  height: 100%;
  background-color: rgb(241, 77, 77); /* 赤 */
  border-radius: 8px;
}

.memory-square__upper-number :nth-child(2) {
  width: 50%;
  height: 100%;
  background-color: rgb(41, 120, 255); /* 青 */
  border-radius: 8px;
}

.memory-square__lower-number {
  width: 100%;
  height: 50%;
  display: flex;
}

.memory-square__lower-number :nth-child(1) {
  width: 50%;
  height: 100%;
  background-color: rgb(250, 187, 0); /* 黄 */
  border-radius: 8px;
}

.memory-square__lower-number :nth-child(2) {
  width: 50%;
  height: 100%;
  background-color: rgb(0, 187, 65); /* 緑 */
  border-radius: 8px;
}

.memory-square__title {
  font-size: 90px;
  margin: 0;
  z-index: inherit;
  color: rgba(69, 69, 69);
  letter-spacing: 10px;
}

.memory-square__middle-tutorial-container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.memory-square__play-tutorial-box {
  width: 60%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid rgb(241, 77, 77);
  border-radius: 10px;
  background-color: rgb(191, 191, 191);
  cursor: pointer;

  /* 立体感を出すためのボックスシャドウ */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3),
    /* より大きな影 */ 0 6px 12px rgba(0, 0, 0, 0.2); /* 近くの影 */

  transition: box-shadow 0.3s ease, transform 0.3s ease; /* スムーズなアニメーション */
}

.memory-square__play-tutorial-box:hover {
  /* ホバー時の影を小さくして凹んでいるように見せる */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    /* 小さな影 */ 0 2px 4px rgba(0, 0, 0, 0.2); /* 近くの影 */

  transform: translateY(4px); /* 少し下に移動させる */
}
.memory-square__play-tutorial-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: block;
  border-radius: 50%;

  /* ホバー時の影を変更 */
  transition: box-shadow 0.3s ease; /* ホバー時のトランジション */
}

.memory-square__play-tutorial-image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* ホバー時の影を強くする */
  transform: translateY(4px); /* 少し下に移動させる */
}

.memory-square__watch-tutorial {
  font-size: 40px;
  color: rgba(69, 69, 69);
  margin: 0;
  padding: 10px;
  border: 8px solid rgb(41, 120, 255);
  border-radius: 10px;
  cursor: pointer;
}

.memory-square__tutorial-movie {
  width: 180%;
  height: 170%;
  border-radius: 10px;
  border: 8px solid rgb(250, 187, 0);
  display: none;
  background-color: black;
}

.memory-square__lower-tutorial-container {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: -40px;
}

.memory-square__square-image-container {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.memory-square__upper-square {
  width: 100%;
  height: 33%;
  display: flex;
}

.memory-square__upper-square :nth-child(1) {
  width: 33%;
  height: 100%;
  background-color: rgb(241, 77, 77);
  border-radius: 8px;
}

.memory-square__upper-square :nth-child(2) {
  width: 34%;
  height: 100%;
  background-color: rgb(41, 120, 255);
  border-radius: 8px;
}

.memory-square__upper-square :nth-child(3) {
  width: 33%;
  height: 100%;
  background-color: rgb(250, 187, 0);
  border-radius: 8px;
}

.memory-square__middle-square {
  width: 100%;
  height: 34%;
  display: flex;
}

.memory-square__middle-square :nth-child(1) {
  width: 33%;
  height: 100%;
  background-color: rgb(0, 187, 65);
  border-radius: 8px;
}

.memory-square__middle-square :nth-child(2) {
  width: 34%;
  height: 100%;
  background-color: rgb(191, 191, 191);
  border-radius: 8px;
}

.memory-square__middle-square :nth-child(3) {
  width: 33%;
  height: 100%;
  background-color: rgb(241, 77, 77);
  border-radius: 8px;
}

.memory-square__lower-square {
  width: 100%;
  height: 33%;
  display: flex;
}

.memory-square__lower-square :nth-child(1) {
  width: 33%;
  height: 100%;
  background-color: rgb(41, 120, 255);
  border-radius: 8px;
}

.memory-square__lower-square :nth-child(2) {
  width: 34%;
  height: 100%;
  background-color: rgb(250, 187, 0);
  border-radius: 8px;
}

.memory-square__lower-square :nth-child(3) {
  width: 33%;
  height: 100%;
  background-color: rgb(0, 187, 65);
  border-radius: 8px;
}

.memory-square__number-table td.highlighted {
  border: 2px solid orange;
}

/* --- コンボボックス --- */
.memory-square__combo-container {
  position: absolute;
  top: 120px;
  right: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.memory-square__fever-time {
  font-size: 30px;
  letter-spacing: -2px;
  animation: rainbowText 3s infinite linear;
  font-weight: bold; /* 見やすさのために太字に */
}

.memory-square__combo-number {
  font-size: 54px;
}

#memory-square__combo-combo {
  font-size: 16px;
  letter-spacing: -1px;
  margin-top: -5px;
}

.memory-square__combo-box {
  position: absolute;
  width: 500px;
  height: 50px;
  top: -50px;
  left: 95px;
  display: flex;
  align-items: center;
}

.memory-square__combo1,
.memory-square__combo2,
.memory-square__combo3,
.memory-square__combo4,
.memory-square__combo5,
.memory-square__combo6,
.memory-square__combo7,
.memory-square__combo8,
.memory-square__combo9 {
  width: 56px;
  height: 100%;
  display: none; /* 初期状態では表示しない */
  justify-content: center;
  align-items: center;
  opacity: 0; /* 非表示から開始 */
}

.memory-square__combo1.fade-in,
.memory-square__combo2.fade-in,
.memory-square__combo3.fade-in,
.memory-square__combo4.fade-in,
.memory-square__combo5.fade-in,
.memory-square__combo6.fade-in,
.memory-square__combo7.fade-in,
.memory-square__combo8.fade-in,
.memory-square__combo9.fade-in {
  display: flex; /* フェードイン時に表示 */
  animation: fadeInSquare 0.5s forwards;
}

.memory-square__combo1.fade-out,
.memory-square__combo2.fade-out,
.memory-square__combo3.fade-out,
.memory-square__combo4.fade-out,
.memory-square__combo5.fade-out,
.memory-square__combo6.fade-out,
.memory-square__combo7.fade-out,
.memory-square__combo8.fade-out,
.memory-square__combo9.fade-out {
  animation: fadeOutSquare 0.5s forwards;
  display: none; /* フェードアウト後に非表示 */
}

/* --- 上部コンテナ --- */
.memory-square__upper-container {
  position: relative;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.memory-square__count-box {
  position: absolute;
  top: 20px;
  left: 30px;
  color: white;
  font-size: 30px;
  border: 4px solid white;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}

#memory-square__progress-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 19px;
  background: rgba(69, 69, 69, 0.846);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s linear; /* 背景の変化を1秒間かけて滑らかに */
}

#memory-square__progress-count {
  position: absolute;
  font-weight: bold;
}

.memory-square__score-box {
  color: white;
  font-size: 30px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
  font-family: "M PLUS 1", sans-serif;
}

.memory-square__question-box {
  width: 400px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  border-radius: 15px;
  text-align: center;
  color: white;
  font-size: 65px;
  line-height: 90px; /* 垂直中央揃え */
  font-family: "M PLUS 1", sans-serif;
}

/* --- 中央コンテナ --- */
.memory-square__middle-container {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- テーブルのスタイル --- */
.memory-square__table {
  width: 365px;
  height: 365px;
  border: 3px solid white;
  border-collapse: collapse; /* セルの境界を重ねない */
}

.memory-square__table td {
  width: 120px;
  height: 120px;
  border: 2px solid white;
  text-align: center;
  vertical-align: middle;
  font-size: 80px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1); /* 背景色を追加 */
  transition: transform 0.2s, box-shadow 0.2s; /* スムーズな変化のためのトランジション */
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.2); /* セルの凹み効果を持たせるための初期影 */
}

/* アクティブ時の凹み効果 */
.memory-square__table td:active {
  transform: translateY(4px); /* 下にスライド */
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.4); /* 内側の影を強調 */
}

/* --- 終了メッセージのスタイル --- */
.memory-square__the-end {
  font-size: 100px;
  text-align: center;
  color: white;
  line-height: 700px; /* 垂直中央揃え */
  font-family: "M PLUS 1", sans-serif;
}

/* --- 数字ボックスのアニメーション --- */
.memory-square__number-box {
  display: inline-block;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  width: 90px;
  height: 95px;
  line-height: 85px; /* 垂直中央揃え */
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s; /* トランジションを使ってスムーズに */
  font-family: "M PLUS 1", sans-serif;
}

.memory-square__number-box--1 {
  background-color: rgb(241, 77, 77); /* 赤 */
}

.memory-square__number-box--2 {
  background-color: rgb(41, 120, 255); /* 青 */
}

.memory-square__number-box--3 {
  background-color: rgb(250, 187, 0); /* 黄 */
}

.memory-square__number-box--4 {
  background-color: rgb(0, 187, 65); /* 緑 */
}

.memory-square__number-box.fade-in {
  animation: fadeInSquare 0.5s forwards; /* フェードインアニメーション */
}

.memory-square__number-box.fade-out {
  animation: fadeOutSquare 0.5s forwards; /* フェードアウトアニメーション */
}

/* --- 下部コンテナ --- */
.memory-square__lower-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* --- 数字テーブルのスタイル --- */
.memory-square__number-table {
  width: 450px;
  height: 100px;
}

.memory-square__number-table td {
  width: 80px;
  height: 85px;
  border: 4px solid white;
  border-radius: 8px;
  line-height: 80px; /* 垂直中央揃え */
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all 0.1s;
  font-family: "M PLUS 1", sans-serif;
}

/* 背景効果 */
.memory-square__number-table td::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transition: all 0.3s;
  transform: translate3d(0, 0.75rem, -1rem);
  box-shadow: 0 0.6rem 0 0 rgba(0, 0, 0, 0.2);
}

/* アクティブ状態の効果 */
.memory-square__number-table td:active {
  transform: translate(0, 0.75rem);
}

.memory-square__number-table td:active::before {
  transform: translate3d(0, 0, -1rem);
  box-shadow: 0 0.35rem 0 0 rgba(0, 0, 0, 0.2);
}

.memory-square__number-table td.highlighted {
  border: 2px solid orange;
}

.memory-square__number-one {
  background-color: rgb(241, 77, 77);
}

.memory-square__number-two {
  background-color: rgb(41, 120, 255);
}

.memory-square__number-three {
  background-color: rgb(250, 187, 0);
}

.memory-square__number-four {
  background-color: rgb(0, 187, 65);
}

.memory-square__GameStartButton {
  width: 300px;
  height: 90px;
  border-radius: 50px;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background: #87ceeb;
  text-align: center;
  font-size: 24px;
  line-height: 85px;
  margin-bottom: 10px;
  border: 2px solid black;
}
.game-page__GameScreenBase{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #2D6BA1, #2C89CB 50%, #5AA4D8)
}
.game-page__BackTitleButton{
  width: 120px;
  height: 39px;
  padding: 5px;
  text-align: center;
  border: solid 2px #000;
  background-color: skyblue;
  border-radius:10px;
  margin-bottom: 10px;
  margin-right: -550px;
}
.game-page__MainGameScreen{
  width: 700px;
  height: 700px;
  background-color: darkgray;
  border: 2px solid #000000;
  margin-bottom: 10px;
}
.game-page__GameStartButton{
  display: block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 9999px;
  color: #fff;
  background: #87ceeb;
  text-align: center;
  font-size: 24px;
  line-height: 1;
  padding: 32px 68px;
  margin-bottom: 10px;
}
.number_master_timer {
  font-size: 70px;
  margin: 20px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

#buttons {
  /* font-size: 50px;
  text-align: center;
  margin-top: 20px; */
  font-size: 30px;
  /* フォントサイズを調整 */
  text-align: center;
  margin-top: 20px;
  /* 上部の余白調整 */
  display: flex;
  justify-content: center;
  /* ボタンを中央に配置 */
  gap: 20px;
  /* ボタンの間隔を追加 */
}

#buttons button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.number-master_table {
  border-collapse: collapse;
  margin: 30px auto;
  /* width: 80%; */
  /* グリッドの幅を画面幅に合わせる */
  max-width: 350px;
  /* 最大幅を設定 */
}

.number-master_table td {
  border: 1px solid black;
  width: 25%;
  height: 85px;
  text-align: center;
}

input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  border: none;
}

/* 太い線で 2×2 のブロックを分ける */
.number-master_table td:nth-child(2),
.number-master_table td:nth-child(4) {
  border-right: 2px solid black;
}

.number_master tr:nth-child(2) td,
.number-master_table tr:nth-child(4) td {
  border-bottom: 2px solid black;
}

/* 花火のアニメーションのスタイル */
.firework {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 1s, opacity 1s;
  width: 300px;
  height: 300px;
}

.hidden {
  display: none;
}

.number_master__tutorial-movie-screen {
  position: fixed;
  width: 700px;
  height: 710px;
  border: 10px solid #545454;
  box-shadow: 0 0 50px #8a8a8a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(206, 206, 206);
  margin-bottom: 50px;
  z-index: 1001;
  color: orange;
  font-family: "Reggae One", system-ui;
  /* font-family: "Train One", system-ui; */
}




.number_master__tutorial-description-wrapper {
  position: fixed;
  width: 700px;
  height: 690px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1002;
}

.number_master__upper-tutorial-container {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number_master__upper-tutorial-container .number_master__volume-box {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 2px solid rgb(69, 69, 69);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: inherit;
}

.number_master__title-container {
  display: flex;
  margin-top: 50px;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  border: 7px solid transparent;
  border-image: linear-gradient(45deg, #000000, #ffffff);
  border-image-slice: 1;
  border-radius: 10px;
}

/* .number_master__number-container {
  width: 90px;
  height: 90px;
  color: white;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
  margin-right: 20px;
  font-weight: bold;
} */


.number_master__title {
  font-size: 90px;
  margin: 0;
  z-index: inherit;
  color: rgba(69, 69, 69);
  letter-spacing: 10px;
}

.number_master__middle-tutorial-container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number_master__play-tutorial-box {
  width: 60%;
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px solid rgb(113, 113, 113);
  border-radius: 10px;
  background-color: rgb(252, 252, 252);
  cursor: pointer;

  /* 立体感を出すためのボックスシャドウ */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3),
    /* より大きな影 */
    0 6px 12px rgba(0, 0, 0, 0.2);
  /* 近くの影 */

  transition: box-shadow 0.3s ease, transform 0.3s ease;
  /* スムーズなアニメーション */
}

.number_master__play-tutorial-box:hover {
  /* ホバー時の影を小さくして凹んでいるように見せる */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
    /* 小さな影 */
    0 2px 4px rgba(0, 0, 0, 0.2);
  /* 近くの影 */

  transform: translateY(4px);
  /* 少し下に移動させる */
}

.number_master__play-tutorial-image {
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: block;
  border-radius: 50%;

  /* ホバー時の影を変更 */
  transition: box-shadow 0.3s ease;
  /* ホバー時のトランジション */
}

.number_master__play-tutorial-image:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* ホバー時の影を強くする */
  transform: translateY(4px);
  /* 少し下に移動させる */
}

.number_master__watch-tutorial {
  font-size: 40px;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 10px;
  border: 10px outset #7e322a;
  border-radius: 10px;
  cursor: pointer;
}

.number_master__tutorial-movie {
  width: 180%;
  height: 170%;
  border-radius: 10px;
  border: 8px solid rgb(250, 187, 0);
  display: none;
  background-color: black;
}

.number_master__lower-tutorial-container {
  position: relative;
  width: 100%;
  height: 20%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: -40px;
}

.number_master__square-image-container {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.number_master__number-table td.highlighted {
  border: 2px solid orange;
}

.hidden-opacity {
  opacity: 0;
  pointer-events: none;
}
.result-body {
  background-color: #89daf5;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.result-layer1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.result-score {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 40px;
}

.result-page__score-name {
  font-size: 125px;
  font-family: "M PULS 1", sans-serif;
  font-weight: 800;
  transform: rotate(-3deg) translateX(-40px);
  /* 左に20px寄せる */
  width: fit-content;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 25px;
}

.memory-square-result-page__score-display,
.color_rock_paper_sicissors-result-page__score-display {
  color: white;
  font-size: 120px;
  font-family: "M PULS 1", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0px 4px 4px #00000040;
  transform: translateX(-30px);
  /* 左に20px寄せる */
  margin: 0 auto;
  margin-bottom: 30px;
  width: fit-content;
  line-height: 1;
}
.color_rock_paper_sicissors-result-page__score-display {
  transform: scale(0.2); /* 初期のサイズ */
  transition: transform 0.4s ease-in-out; /* アニメーションの速度とイージング */
}

.color_rock_paper_sicissors-result-page__score-display.animate-scale {
  transform: scale(1); /* 拡大後のサイズ */
}

.memory-square-result-page__score-display {
  transform: scale(0.2); /* 初期のサイズ */
  transition: transform 0.4s ease-in-out; /* アニメーションの速度とイージング */
}

.memory-square-result-page__score-display.animate-scale {
  transform: scale(1); /* 拡大後のサイズ */
}

.result-page__Registration-form {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
  margin-left: 40px;
  justify-content: center;
}

.result-page__form {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 80px;
  background-color: #89daf5;
  border: 6px solid white;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を追加 */
}
.result-page__registration-button:hover,
.result-page__form:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 影の強調 */
}
.result-page__username {
  font-size: 35px;
  font-weight: bold;
  font-family: "Roboto";
  white-space: nowrap;
  border-right: 2px solid #e52323; /* カーソル風のライン */
}
#typing-text {
  display: inline-block;
  width: 315px; /* 必要な幅に調整 */
  height: 80px; /* 必要な高さに調整 */
  white-space: nowrap; /* 改行しないように設定 */
  overflow: hidden; /* 余分なテキストを隠す */
}
.result-page__name-form {
  width: 300px;
  height: 80px;
  font-size: 27px;
  background-color: #ffffff36;
  border: none;
}

.result-page__registration-button {
  font-size: 27px;
  background-color: #e52323;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.hover-area {
  position: relative;
  display: inline-block;
}

.result-button {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  transform: rotate(-3deg);
  margin-top: 120px;
  margin-left: 330px;
  position: relative;
  left: -90px;
  gap: 30px;
}

.button-with-icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 12px;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.button-icon {
  width: 85px;
  height: auto;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

/* 初期状態でcheckmark_defaultを表示 */
.icon-A {
  display: inline;
}

.icon-B,
.icon-C {
  display: none;
}

/* ホバーエリアにホバーしたときにcheckmark_orangeを表示 */
.hover-area:hover .icon-A {
  display: none;
}

.hover-area:hover .icon-B {
  display: inline;
}

/* ボタンにホバーしたときにcheckmark_redを表示 */
.button-with-icon:hover .icon-A,
.button-with-icon:hover .icon-B {
  display: none;
}

.button-with-icon:hover .icon-C {
  display: inline;
}

.button-with-icon:hover .result-page__retry-button,
.button-with-icon:hover .result-page__back-to-home-button {
  text-decoration: underline;
}

/* ボタンにホバーしたときのアンダーライン追加とシャドウの削除 */
.result-page__retry-button:hover,
.result-page__back-to-home-button:hover {
  color: #333333;
  box-shadow: none;
  text-decoration: underline;
  transition: background-color 0.3s ease, color 0.3s ease,
    text-decoration 0.3s ease;
}

/* ボタンの通常スタイル */
.result-page__retry-button,
.result-page__back-to-home-button {
  width: fit-content;
  color: #333333;
  text-decoration: none;
}

.result-layer2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

.result-page__frame {
  width: 100%;
  max-width: 700px;
  height: auto;
  aspect-ratio: 630 / 332;
  position: absolute;
  left: 120px;
  bottom: 45px;
}

.result-page__right-message {
  width: 100%;
  max-width: 764px;
  height: auto;
  aspect-ratio: 764 / 214;
  position: absolute;
  top: 60px;
  right: 25px;
}

.score-background {
  width: 580px;
  height: auto;
  position: absolute;
  top: 130px;
  left: 100px;
}

.result-layer3 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.result-page__right-image {
  width: 100%;
  max-width: 550px;
  height: auto;
  aspect-ratio: 537 / 576;
  position: absolute;
  bottom: 30px;
  right: 90px;
}

.gameTime {
  font-size: 3rem;
  /* フォントサイズを大きく調整 */
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  margin: 70px 0 30px 0;
}

.gameTime {
  transform: scale(0.2); /* 初期のサイズ */
  transition: transform 0.4s ease-in-out; /* アニメーションの速度とイージング */
}

.gameTime.animate-scale {
  transform: scale(1); /* 拡大後のサイズ */
}
.top-page__whole-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #2d6ba1, #2c89cb 50%, #5aa4d8);
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  color: white;
}

.top-page__upper-container {
  text-shadow: -3px 2px 0 #000;
  display: flex;
  height: 40%;
  width: 100%;
}

.top-page__upper-left-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.top-page__upper-box {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-page__app-title {
  font-size: 120px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  background: linear-gradient(transparent 80%, rgb(255, 240, 29) 70%);
  letter-spacing: -5px;
  /* ここで文字と文字の間の幅変更してもらってもいいです */
}

.top-page__lower-box {
  width: 100%;
  height: 40%;
  padding: 20px;
}

.top-page__concept-description {
  font-size: 30px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  margin: 0;
}

.top-page__by-all-member {
  font-size: 20px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.top-page__upper-right-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page__middle-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -1px 2px 0 #000;
}

.top-page__lower-container {
  display: flex;
  width: 100%;
  height: 60%;
}
.top-page__section-title {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-shadow: -1px 2px 0 #000;
  margin-bottom: 10px;
  display:flex;
  align-items: center;
}
.top-page__section-title::before,
.top-page__section-title::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: white;
  margin: 15px 12px 0 12px;
}
.top-page__left-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-page__left-game-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-page__right-game-box {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* --- 一枚画像に変更したためコンテナとしての機能だけにしました --- */
.top-page__game-box {
  position: relative;
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: #5aa4d8;
}

.top-page__color-rock-paper-scissors-img {
  height: 100%;
}
.top-page__number-master-img {
  height: 100%;
}

.top-page__memory-square-img {
  height:100%;
}
.top-page__game-link {
  font-size: 24px;
  text-decoration: none;
  color: white;
}
/* ホバー時のボタン浮遊効果 */
.top-page__game-box:hover {
  transform: translateY(-5px); /* ボタンが浮いて見える */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* シャドウを追加 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* スムーズなアニメーション */
}

/* クリック時のボタン押下効果 */
.top-page__game-box:active {
  transform: translateY(2px); /* 少し下がって押された印象に */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* シャドウを少し小さく */
}


.top-page__trophy-box {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -40px;
  perspective: 1000px;/* 3D適用時の奥行き*/
}

.top-page__trophy-image {
  cursor: pointer;
  margin-left: 15px;
  margin-top:10px;
  transform-style: preserve-3d;/* 3D適用*/
  transition: transform 0.8s ease, filter 0.3s ease;
  /* ホバー前の状態 */
}
.top-page__trophy-image:hover {
    transform: scale(1.1); /* 少し大きくする */
    filter: hue-rotate(20deg) brightness(1.3); /* 色調と明るさを少し変える */
  }


/* 各ゲームリンクのホバーに応じて、その中のトロフィー画像のみをY軸で回転させる */
.top-page__game-box:hover .top-page__trophy-image.rotate-once {
  transform: rotateY(180deg);
}
.top-page__trophy-description {
  display: none; /* 最初は非表示 */
  position: absolute;
  bottom: -30px; /* トロフィーの下に表示 */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* 半透明の背景 */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  width: 200px;
  pointer-events: none; /* クリックイベントを無効化 */
}

/* トロフィー画像にホバーした時に説明文を表示 */
.top-page__trophy-box:hover .top-page__trophy-description {
  display: block; /* ホバー時に表示 */
  opacity: 1;
  transition: opacity 0.3s ease-in-out; /* 表示アニメーション */
}

.top-page__right-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-page__ranking-box {
  width: 90%;
  height: 95%;
  border: 1px solid white;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 10px;
  animation-duration: 0.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.top-page__ranking-box.active {
  display: flex;
  animation-name: fadeIn;
}
.top-page__ranking-box.inactive {
  animation-name: fadeOut;
  display: none; /* フェードアウト後に非表示にする */
}
.top-page__ranking-title-box {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page__ranking-title-box h1 {
  margin: 0;
}

.top-page__ranking-number-list {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.top-page__ranking-number-box {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-page__ranking-nickname-box {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-page__ranking-score-box{
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-page__ranking-number1 {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
  width: 100%;
  height: 35%;
  display: flex;
}

.top-page__gold-number {
  display: inline-block;
  background: linear-gradient(90deg, #8c7537 0%, #dbb00b 45%, #fde79d 70%, #dbb10c 85%, #bc7f04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-page__ranking-number2 {
  font-size: 36px;
  margin: 0;
  width: 100%;
  height: 25%;
  display: flex;
}

.top-page__silver-number {
  display: inline-block;
  background: linear-gradient(45deg, #757575 0%, #9e9e9e 45%, #e8e8e8 70%, #9e9e9e 85%, #757575 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-page__ranking-number3 {
  font-size: 30px;
  margin: 0;
  width: 100%;
  height: 20%;
  display: flex;
}

.top-page__bronze-number {
  display: inline-block;
  background: linear-gradient(45deg, #a57e65 0%, #f3cfb8 70%, #a57e65 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-page__ranking-number.other {
  font-size: 24px;
  margin: 0;
  width: 100%;
  height: 10%;
  display: flex;
}

.top-page__footer {
  width: 100%;
  height: 60px;
  background-color: #757575;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 * {
  box-sizing: border-box;
}
