<div class="results-top">
  <div class="right-side">
    <div class="score-name">score</div>
    <div class="score"></div>
      <div class="score-display">00.00秒</div>
    <div class="Registration-form">
      <div class="username">記録を登録しますか？</div>
      <div class="form">
        <input type="text" placeholder="ニックネーム入力" class="name-form">
        <input type="submit" name="commit" value="登録" data-disable-with="登録" class="registration-btn">
      </div>
    </div>
    <input type="submit" name="commit" value="リトライする" data-disable-with="リトライする" class="retry-btn">
    <input type="submit" name="commit" value="トップへ戻る" data-disable-with="トップへ戻る" class="top-btn">
  </div>
    
  <div class="left-side">
    <img src="" alt="イラスト" class="image">
    <div class="message">すごい！貴方が一位です！！！！！！</div>
  </div>
</div>


