<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="results.css">
    <title>リザルト画面</title>
  </head>
  <body>
    <div class="results-top">
      <div class="right-side">
        <h1 class="score-name">score</h1>
        <div class="score"></div>
        <div class="Registration-form">
          <h2>記録を登録しますか？</h2>
          <button type="submit" id="register-button">登録</button>
        </div>
        <button id="retry-button">リトライ</button>
        <button id="back-to-home-button">トップに戻る</button>
      </div>
        
      <div class="left-side">
        <img src="" alt="イラスト" class="image">
      </div>
  </body>
</html>
