<h1>Games#color_rock_paper_sicissors</h1>
<p>Find me in app/views/games/color_rock_paper_sicissors.html.erb</p>
<div class="GameScreenBase">
  <%= link_to "タイトルへ", root_path, class: "BackTitelButton" %>
  <div class="MainGameScreen">
  </div>
  <a href="リンク先のURL" class="GameStartButton">ゲームスタート</a>
</div>
