<div class="game-page__GameScreenBase">
  <%= link_to root_path, class: "game-page__BackTitleButton" do %>
     <%= image_tag "GameMaterial/GameScreenImage/GameBaseImage/top-page__BackButtonImage.png", width: 48, height: 30, alt: "代替テキスト" %>   
  <% end %>
  <div class="game-page__MainGameScreen">
  </div>
  <button class="game-page__GameStartButton">ゲームスタート</button>
</div>
