<h1>Games#fit_the_shape</h1>
<p>Find me in app/views/games/fit_the_shape.html.erb</p>
<div class="GameScreenBase">
  <%= link_to "タイトルへ", root_path, class: "BackTitelButton" %>
  <div class="MainGameScreen">
  </div>
  <a href="リンク先のURL" class="GameStartButton">ゲームスタート</a>
</div>