<div class="game-page__GameScreenBase">
  <%= link_to root_path, class: "game-page__BackTitleButton" do %>
     <%= image_tag "GameMaterial/GameScreenImage/GameBaseImage/top-page__BackButtonImage.png", width: 48, height: 30, alt: "代替テキスト" %>   
  <% end %>
  <div class="game-page__MainGameScreen">
    <div id="number_master_timer" class="number_master_timer">00:00:00</div>
    <table class="number-master_table">
      <tr>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
      </tr>
      <tr>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
      </tr>
      <tr>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
      </tr>
      <tr>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
        <td><input type="text" maxlength="1" class="sudoku-cell"></td>
      </tr>
    </table>

    <div id="buttons">
      <button class="number-button">1</button>
      <button class="number-button">2</button>
      <button class="number-button">3</button>
      <button class="number-button">4</button>
    </div>

  </div>
  <button id="startButton" class="game-page__GameStartButton">ゲームスタート</button>
</div>
