.number_master_timer {
  font-size: 70px;
  margin: 20px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

#buttons {
  /* font-size: 50px;
  text-align: center;
  margin-top: 20px; */
  font-size: 30px;
  /* フォントサイズを調整 */
  text-align: center;
  margin-top: 20px;
  /* 上部の余白調整 */
  display: flex;
  justify-content: center;
  /* ボタンを中央に配置 */
  gap: 20px;
  /* ボタンの間隔を追加 */
}

#buttons button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 40px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.number-master_table {
  border-collapse: collapse;
  margin: 30px auto;
  /* width: 80%; */
  /* グリッドの幅を画面幅に合わせる */
  max-width: 350px;
  /* 最大幅を設定 */
}

.number-master_table td {
  border: 1px solid black;
  width: 25%;
  height: 85px;
  text-align: center;
}

input {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  border: none;
}

/* 太い線で 2×2 のブロックを分ける */
.number-master_table td:nth-child(2),
.number-master_table td:nth-child(4) {
  border-right: 2px solid black;
}

.number_master tr:nth-child(2) td,
.number-master_table tr:nth-child(4) td {
  border-bottom: 2px solid black;
}

/* 花火のアニメーションのスタイル */
.firework {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 1s, opacity 1s;
  width: 300px;
  height: 300px;
}

.hidden {
  display: none;
}