.result-body {
  background-color: #89daf5;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.error-messages {
  position: absolute;
  width: 600px;
  height: 100px;
  list-style: none;
  font-size: 24px;
  top: 440px;
  left: 350px;
  font-family: "M PULS 1", sans-serif;
  color: red;
  font-weight: bold;
}

.error-messages ul {
  list-style: none;
}

.result-layer1 {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}

.result-score {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 40px;
}

.result-page__score-name {
  font-size: 125px;
  font-family: "M PULS 1", sans-serif;
  font-weight: 800;
  transform: rotate(-3deg) translateX(-40px);
  /* 左に20px寄せる */
  width: fit-content;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 25px;
}
.result-page__score-time {
  font-size: 110px;
  font-family: "M PULS 1", sans-serif;
  font-weight: 800;
  transform: rotate(-3deg) translateX(-40px);
  /* 左に20px寄せる */
  width: fit-content;
  line-height: 1;
  margin: 0 auto;
  margin-bottom: 25px;
}
.memory-square-result-page__score-display,
.color_rock_paper_sicissors-result-page__score-display {
  color: white;
  font-size: 120px;
  font-family: "M PULS 1", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 0px 4px 4px #00000040;
  transform: translateX(-30px);
  /* 左に20px寄せる */
  margin: 0 auto;
  margin-bottom: 30px;
  width: fit-content;
  line-height: 1;
}
.color_rock_paper_sicissors-result-page__score-display {
  transform: scale(0.2); /* 初期のサイズ */
  transition: transform 0.4s ease-in-out; /* アニメーションの速度とイージング */
}

.color_rock_paper_sicissors-result-page__score-display.animate-scale {
  transform: scale(1); /* 拡大後のサイズ */
}

.memory-square-result-page__score-display {
  transform: scale(0.2); /* 初期のサイズ */
  transition: transform 0.4s ease-in-out; /* アニメーションの速度とイージング */
}

.memory-square-result-page__score-display.animate-scale {
  transform: scale(1); /* 拡大後のサイズ */
}

.result-page__Registration-form {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin-top: 20px;
  margin-left: 40px;
  justify-content: center;
}

.result-page__form {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 80px;
  background-color: #89daf5;
  border: 6px solid white;
  padding: 4px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を追加 */
}
.result-page__registration-button:hover,
.result-page__form:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 影の強調 */
}
.result-page__username {
  font-size: 35px;
  font-weight: bold;
  font-family: "Roboto";
  white-space: nowrap;
  border-right: 2px solid #e52323; /* カーソル風のライン */
}
#typing-text {
  display: inline-block;
  width: 315px; /* 必要な幅に調整 */
  height: 80px; /* 必要な高さに調整 */
  white-space: nowrap; /* 改行しないように設定 */
  overflow: hidden; /* 余分なテキストを隠す */
}
.result-page__name-form {
  width: 300px;
  height: 80px;
  font-size: 27px;
  background-color: #ffffff36;
  border: none;
}

.result-page__registration-button {
  font-size: 27px;
  background-color: #e52323;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.hover-area {
  position: relative;
  display: inline-block;
}

.result-button {
  width: fit-content;
  display: flex;
  flex-direction: column;
  font-size: 50px;
  transform: rotate(-3deg);
  margin-top: 120px;
  margin-left: 330px;
  position: relative;
  left: -90px;
  gap: 30px;
}

.button-with-icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  gap: 12px;
  transition: color 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.button-icon {
  width: 85px;
  height: auto;
  transition: opacity 0.3s ease, filter 0.3s ease;
}

/* 初期状態でcheckmark_defaultを表示 */
.icon-A {
  display: inline;
}

.icon-B,
.icon-C {
  display: none;
}

/* ホバーエリアにホバーしたときにcheckmark_orangeを表示 */
.hover-area:hover .icon-A {
  display: none;
}

.hover-area:hover .icon-B {
  display: inline;
}

/* ボタンにホバーしたときにcheckmark_redを表示 */
.button-with-icon:hover .icon-A,
.button-with-icon:hover .icon-B {
  display: none;
}

.button-with-icon:hover .icon-C {
  display: inline;
}

.button-with-icon:hover .result-page__retry-button,
.button-with-icon:hover .result-page__back-to-home-button {
  text-decoration: underline;
}

/* ボタンにホバーしたときのアンダーライン追加とシャドウの削除 */
.result-page__retry-button:hover,
.result-page__back-to-home-button:hover {
  color: #333333;
  box-shadow: none;
  text-decoration: underline;
  transition: background-color 0.3s ease, color 0.3s ease,
    text-decoration 0.3s ease;
}

/* ボタンの通常スタイル */
.result-page__retry-button,
.result-page__back-to-home-button {
  width: fit-content;
  color: #333333;
  text-decoration: none;
}

.result-layer2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  pointer-events: none;
}

.result-page__frame {
  width: 100%;
  max-width: 700px;
  height: auto;
  aspect-ratio: 630 / 332;
  position: absolute;
  left: 120px;
  bottom: 45px;
}

.result-page__right-message {
  width: 100%;
  max-width: 764px;
  height: auto;
  aspect-ratio: 764 / 214;
  position: absolute;
  top: 60px;
  right: 25px;
}

.score-background {
  width: 580px;
  height: auto;
  position: absolute;
  top: 130px;
  left: 90px;
}
.score-background-n {
  width: 620px;
  height: auto;
  position: absolute;
  top: 125px;
  left: 50px;
}
.result-layer3 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.result-page__right-image {
  width: 100%;
  max-width: 550px;
  height: auto;
  aspect-ratio: 537 / 576;
  position: absolute;
  bottom: 30px;
  right: 90px;
}

.gameTime {
  font-size: 6rem;
  /* フォントサイズを大きく調整 */
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  margin: 50px 0 30px 0;
  text-shadow: 0px 4px 4px #00000040;
}

.gameTime {
  transform: scale(0.2); /* 初期のサイズ */
  transition: transform 0.4s ease-in-out; /* アニメーションの速度とイージング */
}

.gameTime.animate-scale {
  transform: scale(1); /* 拡大後のサイズ */
}
