.top-page__whole-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #2d6ba1, #2c89cb 50%, #5aa4d8);
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  color: white;
}

.top-page__upper-container {
  text-shadow: -3px 2px 0 #000;
  display: flex;
  height: 40%;
  width: 100%;
}

.top-page__upper-left-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.top-page__upper-box {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-page__app-title {
  font-size: 120px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  background: linear-gradient(transparent 80%, rgb(255, 240, 29) 70%);
  letter-spacing: -5px; 
  /* ここで文字と文字の間の幅変更してもらってもいいです  */
}

.top-page__lower-box {
  width: 100%;
  height: 40%;
  padding: 20px;
}

.top-page__concept-description {
  font-size: 30px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  margin: 0;
}

.top-page__by-all-member {
  font-size: 20px;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.top-page__upper-right-container {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page__middle-container {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: -1px 2px 0 #000;
}

.top-page__game-select-corner {
  font-size: 42px;
  display: flex;
  align-items: center;
  position: relative;
  color: white;
}

.top-page__game-select-corner::before,
.top-page__game-select-corner::after {
  content: "";
  width: 200px;
  height: 3px;
  background-color: white;
  margin: 15px 12px 0 12px;
}

.top-page__lower-container {
  display: flex;
  width: 100%;
  height: 50%;
}

.top-page__left-box {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-page__left-game-box {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-page__right-game-box {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.top-page__game-box {
  position: relative;
  width: max-content;
  height: max-content;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  background-color: #5AA4D8;
  color: black;
}

.top-page__color-rock-paper-scissors-img {
  width: 340px;
}


.top-page__game-link {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.top-page__number-master-square-img {
  height: 100%;
}

.top-page__number-master-thinking-img {
  width: 100px;
  height: 95px;
}

.top-page__trophy-box {
  width: 40px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -40px;
}

.top-page__trophy-image {
  cursor: pointer;
}

.top-page__right-box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page__ranking-box {
  width: 90%;
  height: 95%;
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "M PLUS 1", sans-serif;
  font-weight: 600;
  padding: 5px;
}

.top-page__ranking-title-box {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-page__ranking-title-box h1 {
  margin: 0;
}

.top-page__ranking-number-list {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-page__ranking-number-box{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-page__ranking-nickname-box{
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-page__ranking-number1 {
  font-size: 46px;
  font-weight: bold;
  margin: 0;
  width: 100%;
  height: 35%;
  display: flex;
}

.top-page__gold-number {
  display: inline-block;
  background: linear-gradient(90deg, #8c7537 0%, #dbb00b 45%, #fde79d 70%, #dbb10c 85%, #bc7f04 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-page__ranking-number2 {
  font-size: 36px;
  margin: 0;
  width: 100%;
  height: 25%;
  display: flex;
}

.top-page__silver-number {
  display: inline-block;
  background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-page__ranking-number3 {
  font-size: 30px;
  margin: 0;
  width: 100%;
  height: 20%;
  display: flex;
}

.top-page__bronze-number {
  display: inline-block;
  background: linear-gradient(45deg, #a57e65 0%, #f3cfb8 70%, #a57e65 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-page__ranking-number4,
.top-page__ranking-number5 {
  font-size: 24px;
  margin: 0;
  width: 100%;
  height: 10%;
  display: flex;
}

.top-page__footer {
  width: 100%;
  height: 60px;
  background-color: #757575;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
